<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Agregar solicitud</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/index}">Spring</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="dropdown-item" th:href="@{/cliente/index}">Cliente</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="dropdown-item" th:href="@{/mueble/index}">Muebles</a>
            </li>
        </ul>
    </div>
</nav>
<h1 class="display-4" align="center">Registrar Nuevo Cliente</h1>
<p></p>

<div class="mx-auto" style="width: 300px;">
    <div class="row">
        <div class="col-md-80">
            <div class="card card-bodi">
                <form th:action="@{/cliente/save}" th:object="${clientes}" method="post">
                        <input type="text" th:field="*{nombre}" name="nombre" placeholder="Nombre" class="form-control mb-2">
                        <input type="text" th:field="*{direccion}" name="direccion" placeholder="Direccion" class="form-control mb-2">
                        <select th:field="*{mueble}" class='form-control'>
                            <th:block th:each="mueble : ${MuebleList}">
                                <option th:text="${mueble.tipo_mueble}" th:value="${mueble.id}" />
                            </th:block>
                        </select>
                    <p></p>
                    <button type="submit" class="btn btn-outline-success">Agregar</button>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>